StreamingAssets/Xml/SAI/Example of Commerce/Commerce.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gestalt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="enterprise">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subscription">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="payment" />
                    <xs:element name="billing" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="templates">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="template">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="classes">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="class">
                              <xs:complexType>
                                <xs:sequence minOccurs="0">
                                  <xs:element minOccurs="0" name="inherits">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="class">
                                          <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                              <xs:element name="conflicts">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="conflict">
                                                      <xs:complexType>
                                                        <xs:sequence minOccurs="0">
                                                          <xs:element name="expression">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:element name="expression" />
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="namespace" type="xs:string" use="required" />
                                                        <xs:attribute name="with" type="xs:string" use="required" />
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="namespace" type="xs:string" use="required" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="variables">
                                    <xs:complexType>
                                      <xs:sequence minOccurs="0">
                                        <xs:element maxOccurs="unbounded" name="variable">
                                          <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                              <xs:element minOccurs="0" name="unit">
                                                <xs:complexType>
                                                  <xs:attribute name="basis" type="xs:string" use="required" />
                                                  <xs:attribute name="namespace" type="xs:string" use="required" />
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element minOccurs="0" name="comment" type="xs:string" />
                                              <xs:element minOccurs="0" name="validate" type="xs:string" />
                                            </xs:sequence>
                                            <xs:attribute name="name" type="xs:string" use="required" />
                                            <xs:attribute name="type" type="xs:string" use="required" />
                                            <xs:attribute name="isunique" type="xs:boolean" use="optional" />
                                            <xs:attribute name="of" type="xs:string" use="optional" />
                                            <xs:attribute name="default" type="xs:string" use="optional" />
                                            <xs:attribute name="collapse" type="xs:string" use="optional" />
                                            <xs:attribute name="isconstant" type="xs:boolean" use="optional" />
                                            <xs:attribute name="unique" type="xs:boolean" use="optional" />
                                            <xs:attribute name="with" type="xs:string" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="pathvariables">
                                    <xs:complexType>
                                      <xs:sequence minOccurs="0">
                                        <xs:element maxOccurs="unbounded" name="pathvariable">
                                          <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                              <xs:element name="comment" type="xs:string" />
                                              <xs:element name="validate">
                                                <xs:complexType mixed="true">
                                                  <xs:sequence>
                                                    <xs:element name="algorithm">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="input">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:element name="variable">
                                                                  <xs:complexType>
                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                    <xs:attribute name="path" type="xs:string" use="required" />
                                                                    <xs:attribute name="as" type="xs:string" use="required" />
                                                                  </xs:complexType>
                                                                </xs:element>
                                                              </xs:sequence>
                                                              <xs:attribute name="model" type="xs:string" use="required" />
                                                            </xs:complexType>
                                                          </xs:element>
                                                          <xs:element name="output">
                                                            <xs:complexType>
                                                              <xs:attribute name="model" type="xs:string" use="required" />
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="namespace" type="xs:string" use="required" />
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="symbol" type="xs:string" use="optional" />
                                            <xs:attribute name="name" type="xs:string" use="required" />
                                            <xs:attribute name="type" type="xs:string" use="required" />
                                            <xs:attribute name="of" type="xs:string" use="optional" />
                                            <xs:attribute name="with" type="xs:string" use="optional" />
                                            <xs:attribute name="universe" type="xs:string" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="arrays">
                                    <xs:complexType>
                                      <xs:sequence minOccurs="0">
                                        <xs:element maxOccurs="unbounded" name="array">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element minOccurs="0" maxOccurs="unbounded" name="path">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:choice maxOccurs="unbounded">
                                                      <xs:element name="control">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element name="model">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element name="set">
                                                                    <xs:complexType>
                                                                      <xs:attribute name="variable" type="xs:string" use="required" />
                                                                      <xs:attribute name="as" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                  </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="as" type="xs:string" use="required" />
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="query">
                                                        <xs:complexType>
                                                          <xs:sequence minOccurs="0">
                                                            <xs:element name="model">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element maxOccurs="unbounded" name="set">
                                                                    <xs:complexType>
                                                                      <xs:attribute name="variable" type="xs:string" use="required" />
                                                                      <xs:attribute name="as" type="xs:string" use="optional" />
                                                                      <xs:attribute name="of" type="xs:string" use="optional" />
                                                                      <xs:attribute name="basis" type="xs:string" use="optional" />
                                                                    </xs:complexType>
                                                                  </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="as" type="xs:string" use="required" />
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                          <xs:attribute name="model" type="xs:string" use="optional" />
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="result">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" name="model">
                                                              <xs:complexType>
                                                                <xs:attribute name="as" type="xs:string" use="required" />
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="symbolic">
                                                        <xs:complexType>
                                                          <xs:attribute name="algorithm" type="xs:string" use="required" />
                                                          <xs:attribute name="input" type="xs:string" use="required" />
                                                          <xs:attribute name="output" type="xs:string" use="optional" />
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="descrete">
                                                        <xs:complexType>
                                                          <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                              <xs:attribute name="algorithm" type="xs:string" use="optional" />
                                                              <xs:attribute name="input" type="xs:string" use="optional" />
                                                              <xs:attribute name="output" type="xs:string" use="optional" />
                                                            </xs:extension>
                                                          </xs:simpleContent>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="select">
                                                        <xs:complexType>
                                                          <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                              <xs:attribute name="algorithm" type="xs:string" use="optional" />
                                                              <xs:attribute name="input" type="xs:string" use="optional" />
                                                              <xs:attribute name="output" type="xs:string" use="optional" />
                                                            </xs:extension>
                                                          </xs:simpleContent>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:choice>
                                                  </xs:sequence>
                                                  <xs:attribute name="label" type="xs:string" use="required" />
                                                  <xs:attribute name="global" type="xs:boolean" use="optional" />
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="symbol" type="xs:string" use="optional" />
                                            <xs:attribute name="name" type="xs:string" use="optional" />
                                            <xs:attribute name="type" type="xs:string" use="optional" />
                                            <xs:attribute name="of" type="xs:string" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="namespace" type="xs:string" use="required" />
                                <xs:attribute name="domain" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="algorithms">
                        <xs:complexType>
                          <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="algorithm">
                              <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0">
                                  <xs:element minOccurs="0" name="implements">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="delegate">
                                          <xs:complexType>
                                            <xs:attribute name="namespace" type="xs:string" use="required" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="input">
                                    <xs:complexType>
                                      <xs:attribute name="model" type="xs:string" use="required" />
                                      <xs:attribute name="api" type="xs:boolean" use="optional" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="output">
                                    <xs:complexType>
                                      <xs:attribute name="model" type="xs:string" use="required" />
                                      <xs:attribute name="api" type="xs:boolean" use="optional" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="expressions" type="xs:string" />
                                  <!--xs:element minOccurs="0" name="function">
                                    <xs:complexType mixed="true">
                                      <xs:sequence minOccurs="0">
                                        <xs:element name="expressions">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element maxOccurs="unbounded" name="expression">
                                                <xs:complexType>
                                                  <xs:attribute name="sequence" type="xs:unsignedByte" use="required" />
                                                  <xs:attribute name="invoke" type="xs:string" use="optional" />
                                                  <xs:attribute name="with" type="xs:string" use="optional" />
                                                  <xs:attribute name="constraint" type="xs:string" use="optional" />
                                                  <xs:attribute name="delegate" type="xs:string" use="optional" />
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element -->
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="delegate">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" name="control">
                                          <xs:complexType>
                                            <xs:attribute name="model" type="xs:string" use="required" />
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="input">
                                          <xs:complexType>
                                            <xs:attribute name="model" type="xs:string" use="required" />
                                            <xs:attribute name="api" type="xs:boolean" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="output">
                                          <xs:complexType>
                                            <xs:attribute name="model" type="xs:string" use="required" />
                                            <xs:attribute name="queued" type="xs:boolean" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="function" />
                                      </xs:sequence>
                                      <xs:attribute name="namespace" type="xs:string" use="optional" />
                                      <xs:attribute name="name" type="xs:string" use="optional" />
                                      <xs:attribute name="fromqueue" type="xs:boolean" use="optional" />
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="namespace" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="models">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="model">
                              <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0">
                                  <xs:choice maxOccurs="unbounded">
                                    <xs:element name="array">
                                      <xs:complexType>
                                        <xs:sequence minOccurs="0">
                                          <xs:element name="validation">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="xor">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element maxOccurs="unbounded" name="variable">
                                                        <xs:complexType>
                                                          <xs:attribute name="name" type="xs:string" use="required" />
                                                          <xs:attribute name="namespace" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="limit">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="expression">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element name="mathml" />
                                                          </xs:sequence>
                                                          <xs:attribute name="sequence" type="xs:unsignedByte" use="required" />
                                                          <xs:attribute name="is" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                    <xs:attribute name="namespace" type="xs:string" use="required" />
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="basis">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="expression">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element name="mathml" />
                                                          </xs:sequence>
                                                          <xs:attribute name="sequence" type="xs:unsignedByte" use="required" />
                                                          <xs:attribute name="is" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                    <xs:attribute name="namespace" type="xs:string" use="required" />
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="name" type="xs:string" use="optional" />
                                        <xs:attribute name="type" type="xs:string" use="required" />
                                        <xs:attribute name="of" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="variables">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element maxOccurs="unbounded" name="variable">
                                            <xs:complexType>
                                              <xs:attribute name="name" type="xs:string" use="required" />
                                              <xs:attribute name="type" type="xs:string" use="required" />
                                              <xs:attribute name="schema" type="xs:string" use="optional" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element maxOccurs="unbounded" name="variable">
                                      <xs:complexType mixed="true">
                                        <xs:attribute name="model" type="xs:string" use="optional" />
                                        <xs:attribute name="name" type="xs:string" use="optional" />
                                        <xs:attribute name="type" type="xs:string" use="optional" />
                                        <xs:attribute name="default" type="xs:string" use="optional" />
                                        <xs:attribute name="of" type="xs:string" use="optional" />
                                        <xs:attribute name="schema" type="xs:string" use="optional" />
                                        <xs:attribute name="isimmutable" type="xs:boolean" use="optional" />
                                        <xs:attribute name="as" type="xs:string" use="optional" />
                                        <xs:attribute name="basis" type="xs:string" use="optional" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="delegate">
                                      <xs:complexType>
                                        <xs:attribute name="method" type="xs:string" use="required" />
                                        <xs:attribute name="namespace" type="xs:string" use="required" />
                                        <xs:attribute name="of" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="any">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="variable">
                                            <xs:complexType>
                                              <xs:attribute name="label" type="xs:string" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="pathvariable">
                                            <xs:complexType>
                                              <xs:attribute name="label" type="xs:string" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="array">
                                            <xs:complexType>
                                              <xs:attribute name="label" type="xs:string" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:choice>
                                </xs:sequence>
                                <xs:attribute name="namespace" type="xs:string" use="optional" />
                                <xs:attribute name="with" type="xs:string" use="optional" />
                                <xs:attribute name="isimmutable" type="xs:boolean" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="basis">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="basis">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="type" type="xs:string" use="required" />
                                <xs:attribute name="scalar" type="xs:string" use="required" />
                                <xs:attribute name="scale" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="scalars">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="scalar">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="scale">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="conversions">
                                          <xs:complexType mixed="true">
                                            <xs:sequence minOccurs="0">
                                              <xs:element maxOccurs="unbounded" name="convert">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="expression" type="xs:string" />
                                                  </xs:sequence>
                                                  <xs:attribute name="from" type="xs:string" use="required" />
                                                  <xs:attribute name="to" type="xs:string" use="required" />
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                      <xs:attribute name="name" type="xs:string" use="required" />
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="requires">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="template">
                              <xs:complexType>
                                <xs:attribute name="namespace" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="references" type="xs:string" />
                      <xs:element name="comments" type="xs:string" />
                      <xs:element name="types">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="type">
                              <xs:complexType>
                                <xs:sequence minOccurs="0">
                                  <xs:element minOccurs="0" name="inherits">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="base">
                                          <xs:complexType>
                                            <xs:attribute name="type" type="xs:string" use="required" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="members">
                                    <xs:complexType>
                                      <xs:attribute name="name" type="xs:string" use="required" />
                                      <xs:attribute name="as" type="xs:string" use="required" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="member">
                                    <xs:complexType>
                                      <xs:attribute name="name" type="xs:string" use="required" />
                                      <xs:attribute name="as" type="xs:string" use="required" />
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="bind" type="xs:string" use="optional" />
                                <xs:attribute name="isdynamic" type="xs:boolean" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="bindable">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="bind">
                              <xs:complexType>
                                <xs:sequence minOccurs="0">
                                  <xs:element name="ai">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="is">
                                          <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                              <xs:element minOccurs="0" maxOccurs="unbounded" name="member">
                                                <xs:complexType>
                                                  <xs:attribute name="name" type="xs:string" use="required" />
                                                  <xs:attribute name="net" type="xs:string" use="required" />
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element minOccurs="0" name="requires">
                                                <xs:complexType>
                                                  <xs:attribute name="net" type="xs:string" use="required" />
                                                  <xs:attribute name="valueis" type="xs:unsignedByte" use="required" />
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="net" type="xs:string" use="required" />
                                            <xs:attribute name="as" type="xs:string" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="primative" type="xs:boolean" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="understands">
                        <xs:complexType>
                          <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="template">
                              <xs:complexType>
                                <xs:attribute name="namespace" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="namespace" type="xs:string" use="required" />
                  <xs:attribute name="isabstract" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gestalt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ai">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="applications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="application">
                            <xs:complexType>
                              <xs:attribute name="namespace" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="classes" />
                    <xs:element name="algorithms" />
                    <xs:element name="models" />
                  </xs:sequence>
                  <xs:attribute name="namespace" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>