StreamingAssets/Xml/SAI/Schemas/GestaltBindable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Gestalt.Bindable"
    xmlns:b="http://design.proto.ai/Gestalt.Bindable"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="bindable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="bind">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="ai">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="is">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="member">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="net" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="requires">
                            <xs:complexType>
                              <xs:attribute name="net" type="xs:string" use="required" />
                              <xs:attribute name="valueis" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="net" type="xs:string" use="required" />
                        <xs:attribute name="as" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="primative" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="types">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="type">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element minOccurs="0" name="inherits">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="base">
                      <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="members">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="as" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="member">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="as" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="bind" type="xs:string" use="optional" />
            <xs:attribute name="isdynamic" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
