StreamingAssets/Xml/SAI/Schemas/QueryModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserKey" type="xs:byte" />
        <xs:element name="UserLastUpdated" type="xs:time" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>